apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: attention-detection-prod

resources:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: production

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: face-detection
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 5
    target:
      kind: Deployment
      name: pipeline-orchestrator
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 5
    target:
      kind: Deployment
      name: api-gateway
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: web-dashboard

configMapGenerator:
  - name: attention-config
    behavior: merge
    literals:
      - ATTENTION_DEBUG=false
      - ATTENTION_LOG_LEVEL=INFO
      - API_ENV=production

secretGenerator:
  - name: attention-secrets
    behavior: merge
    literals:
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}

