apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: attention-detection-dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: face-detection
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: pipeline-orchestrator
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: api-gateway
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: web-dashboard

configMapGenerator:
  - name: attention-config
    behavior: merge
    literals:
      - ATTENTION_DEBUG=true
      - ATTENTION_LOG_LEVEL=DEBUG

